<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanfeng.nzq.domain.mapper.ApplicationMapper">
  <resultMap id="BaseResultMap" type="com.xuanfeng.nzq.domain.model.Application">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="send_xf" jdbcType="BIGINT" property="receiveXf" />
    <result column="receive_xf" jdbcType="BIGINT" property="receiveXf" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="friend_group_id" jdbcType="BIGINT" property="friendGroupId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="imStatus" jdbcType="TINYINT" property="imStatus" />
    <result column="send_visible" jdbcType="BIT" property="sendVisible" />
    <result column="receive_visible" jdbcType="BIT" property="receiveVisible" />
  </resultMap>
  <sql id="Base_Column_List">
    id, send_xf, receive_xf, text, friend_group_id, remark, imStatus, send_visible, receive_visible
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Application
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from Application
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xuanfeng.nzq.domain.model.Application">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into Application (send_xf, receive_xf, text, 
      friend_group_id, remark, imStatus,
      send_visible, receive_visible)
    values (#{receiveXf,jdbcType=BIGINT}, #{receiveXf,jdbcType=BIGINT}, #{text,jdbcType=VARCHAR},
      #{friendGroupId,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{imStatus,jdbcType=TINYINT},
      #{sendVisible,jdbcType=BIT}, #{receiveVisible,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.xuanfeng.nzq.domain.model.Application">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into Application
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="receiveXf != null">
        send_xf,
      </if>
      <if test="receiveXf != null">
        receive_xf,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="friendGroupId != null">
        friend_group_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="imStatus != null">
        imStatus,
      </if>
      <if test="sendVisible != null">
        send_visible,
      </if>
      <if test="receiveVisible != null">
        receive_visible,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="receiveXf != null">
        #{receiveXf,jdbcType=BIGINT},
      </if>
      <if test="receiveXf != null">
        #{receiveXf,jdbcType=BIGINT},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="friendGroupId != null">
        #{friendGroupId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="imStatus != null">
        #{imStatus,jdbcType=TINYINT},
      </if>
      <if test="sendVisible != null">
        #{sendVisible,jdbcType=BIT},
      </if>
      <if test="receiveVisible != null">
        #{receiveVisible,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuanfeng.nzq.domain.model.Application">
    update Application
    <set>
      <if test="receiveXf != null">
        send_xf = #{receiveXf,jdbcType=BIGINT},
      </if>
      <if test="receiveXf != null">
        receive_xf = #{receiveXf,jdbcType=BIGINT},
      </if>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="friendGroupId != null">
        friend_group_id = #{friendGroupId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="imStatus != null">
        imStatus = #{imStatus,jdbcType=TINYINT},
      </if>
      <if test="sendVisible != null">
        send_visible = #{sendVisible,jdbcType=BIT},
      </if>
      <if test="receiveVisible != null">
        receive_visible = #{receiveVisible,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuanfeng.nzq.domain.model.Application">
    update Application
    set send_xf = #{receiveXf,jdbcType=BIGINT},
      receive_xf = #{receiveXf,jdbcType=BIGINT},
      text = #{text,jdbcType=VARCHAR},
      friend_group_id = #{friendGroupId,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      imStatus = #{imStatus,jdbcType=TINYINT},
      send_visible = #{sendVisible,jdbcType=BIT},
      receive_visible = #{receiveVisible,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>