<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanfeng.nzq.domain.mapper.ChatInfoMapper">
  <resultMap id="BaseResultMap" type="com.xuanfeng.nzq.domain.model.ChatInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="xf" jdbcType="BIGINT" property="sendxf" />
    <result column="xf" jdbcType="BIGINT" property="receivexf" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, xf, xf, text, ctime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ChatInfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ChatInfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xuanfeng.nzq.domain.model.ChatInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ChatInfo (xf, xf, text,
      ctime)
    values (#{sendxf,jdbcType=BIGINT}, #{receivexf,jdbcType=BIGINT}, #{text,jdbcType=VARCHAR}, 
      #{ctime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xuanfeng.nzq.domain.model.ChatInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ChatInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sendxf != null">
        xf,
      </if>
      <if test="receivexf != null">
        xf,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sendxf != null">
        #{sendxf,jdbcType=BIGINT},
      </if>
      <if test="receivexf != null">
        #{receivexf,jdbcType=BIGINT},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuanfeng.nzq.domain.model.ChatInfo">
    update ChatInfo
    <set>
      <if test="sendxf != null">
        xf = #{sendxf,jdbcType=BIGINT},
      </if>
      <if test="receivexf != null">
        xf = #{receivexf,jdbcType=BIGINT},
      </if>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuanfeng.nzq.domain.model.ChatInfo">
    update ChatInfo
    set xf = #{sendxf,jdbcType=BIGINT},
      xf = #{receivexf,jdbcType=BIGINT},
      text = #{text,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>