#wuziqi_game {
	width: 998px;
	height: 610px;
	position: absolute;
	top:0px;
	left:0px;
	border: solid 1px gray;
	background-color: #F7F9F4;
	/*display: none;*/
	z-index: 5;
}

#qipan {
	width: 600px;
	height: 600px;
	position: absolute;
	left: 141px;
	top: 0px;
	background-image: url(../img/caoyuan.jpg);
}

#friend_1 {
	width: 140px;
	height: 610px;
	position: absolute;
	left: 0px;
	border-right: solid 1px gray;
}

#friend_2 {
	width: 140px;
	height: 305px;
	position: absolute;
	top: 305px;
	left: 0px;
	border-right: solid 1px gray;
}

#mine_5 {
	width: 256px;
	height: 610px;
	position: absolute;
	right: 0px;
	border-left: solid 1px gray;
}

#daojishi {
	background-color: black;
	width: 0px;
	height: 8px;
	position: absolute;
	bottom: 0px;
	left: 141px;
	border-top: solid white 1px;
	border-bottom: solid white 1px;
	border-left: 0px;
}

.player_show {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 140px;
	height: 180px;
}

.player_photo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 140px;
	height: 140px;
}

.player_daojishi {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 140px;
	height: 140px;
	background-color: black;
	opacity: 0.6;
	display: none;
}

.player_emoticon {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 140px;
	height: 140px;
	opacity: 0.95;
	display: none;
}

.player_daojishi_count {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 140px;
	height: 140px;
	color: white;
	text-align: center;
	line-height: 140px;
	font-size: 80px;
}

.player_daojishi_tip {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 140px;
	height: 40px;
	color: white;
	text-align: center;
	line-height: 40px;
	font-size: 15px;
}

.player_name {
	position: absolute;
	top: 140px;
	left: 0px;
	width: 140px;
	height: 30px;
	background-color: black;
	opacity: 0.8;
	color: white;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
}

#inner_chat {
	position: absolute;
	top: 200px;
	left: 0px;
	width: 256px;
	height: 412px;
}

#inner_chat_1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 256px;
	height: 40px;
}

#inner_chat_input {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 195px;
	height: 34px;
	padding: 2px;
	border: 1px solid gray;
	border-left: 0px;
}

#inner_chat_send {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 60px;
	height: 40px;
	background-color: yellow;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: 0px;
	border-right: 0px;
	padding: 0px;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
}

#inner_chat_menu {
	position: absolute;
	top: 40px;
	left: 0px;
	width: 256px;
	height: 20px;
	background-color: gray;
	color: white;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
}

#inner_chat_record {
	position: absolute;
	top: 61px;
	left: 0px;
	width: 256px;
	height: 351px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#inner_chat_fast {
	position: absolute;
	top: 60px;
	left: 0px;
	width: 256px;
	height: 350px;
	display: none;
}

#fast_menu {
	position: absolute;
	top: 1px;
	left: 0px;
	width: 256px;
	height: 30px;
	border: solid 1px gray;
	border-bottom: 0px;
	border-left: 0px;
	line-height: 30px;
	text-align: center;
	font-size: 15px;
}

#fast_emoticon {
	float: left;
	width: 127px;
	height: 30px;
	border-right: 1px solid gray;
	background: lightgray;
}

#fast_msg {
	float: left;
	width: 128px;
	height: 30px;
}

#fast_container {
	position: absolute;
	top: 32px;
	left: 0px;
	width: 256px;
	height: 318px;
	background-color: #E0E0E0;
}

#inner_chat_emoticon {
	width: 256px;
	height: 316px;
	position: absolute;
	top: 1px;
	overflow: auto;
	overflow-x: hidden;
}

#inner_chat_fastmsg {
	width: 256px;
	height: 316px;
	position: absolute;
	top: 1px;
	display: none;
	overflow: auto;
	overflow-x: hidden;
}
/*begin����-------------------------------*/
.emo_contain {
	width: 75px;
	height: 90px;
	margin-top: 4px;
	margin-left: 4px;
	/*background-color: lightgrey;*/
	float: left;
}

.emo {
	width: 75px;
	height: 75px;
	float: left;
}

.emo_name {
	width: 75px;
	height: 15px;
	font-size: 12px;
	color: gray;
	line-height: 15px;
	text-align: center;
	float: left;
}
/*end����-------------------------------*/

/*begin����-------------------------------*/
.voice {
	width: 256px;
	height: 40px;
	border-bottom: 1px solid lightgray;
	line-height: 40px;
	text-align: left;
	font-size: 18px;
	color: gray;
}
/*end����-------------------------------*/
/*beginInnerChat-------------------------------*/
.innerChat {
	width: 256px;
	height: auto;
	word-wrap: break-word;
	margin-top: 5px;
	float: left;
}

.innerChat_photo {
	width: 40px;
	height: 40px;
	float: left;
	margin: 3px;
	border-radius: 20px;
}

.innerChat_msg {
	width: 170px;
	height: auto;
	float: left;
	padding: 10px;
	border-radius: 10px;
	font-size: 16px;
}

.innerChat_msg_black {
	background-color: #4E4E4E;
	color: #DADADA;
}

.innerChat_msg_white {
	background-color: #DADADA;
	color: #4E4E4E;
}

.innerChat_msg_red {
	background-color: #FF3939;
	color: #DADADA;
}
/*beginInnerChat-------------------------------*/

/*begin win&lose*/
#game_success,#game_fail {
	position:absolute;
	top:0px;
	left:0px;
	display: none;
	z-index:6;
}
.game_result {
	width: 350px;
	height: 300px;
	position: absolute;
	background-color: pink;
	border-radius: 20px;
	border: solid 2px white;
	top: 110px;
	left: 325px;
}

#user_success {
	width: 350px;
	height: 220px;
	background-color: #FE6054;
	position: absolute;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.success_colorful {
	width: 350px;
	height: 400px;
	top: 0px;
	position: absolute;
}

#user_success_content {
	width: 350px;
	height: 220px;
	top: 0px;
	line-height: 220px;
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	color: white;
	position: absolute;
}

.game_confirm {
	width: 350px;
	height: 80px;
	background-color: white;
	position: absolute;
	top: 220px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 0px;
}

#game_success_button {
	width: 150px;
	height: 40px;
	background-color: #FF9400;
	border-radius: 20px;
	font-size: 18px;
	color: white;
	line-height: 40px;
	position: absolute;
	top: 20px;
	left: 100px;
}
/*-------------------------------------------------------------------------------------*/
#user_fail {
	width: 350px;
	height: 220px;
	background-color: #0C0C0C;
	position: absolute;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.fail_black {
	width: 240px;
	height: 120px;
	top: 20px;
	left: 50px;
	position: absolute;
	background-color: pink;
}

#game_fail_button {
	width: 150px;
	height: 40px;
	background-color: #EB000D;
	border-radius: 20px;
	font-size: 18px;
	color: white;
	line-height: 40px;
	position: absolute;
	top: 20px;
	left: 100px;
}

#user_fail_content {
	width: 350px;
	height: 80px;
	position: absolute;
	top: 140px;
	font-weight: 700;
	font-size: 25px;
	line-height: 80px;
	text-align: center;
	color: white;
}
/*end win&lose*/