# 数据库配置
spring:
    datasource:
          url : jdbc:mysql://localhost:3306/nzq?userUnicode=true&characterEncoding=utf-8
          username : root
          password : rootroot
          cachePreStmts : true
     # 使用druid数据源
          driver-class-name : com.mysql.jdbc.Driver
          filters : stat
          maxActive : 20
          initialSize : 1
          maxWait : 60000
          minIdle : 1
          timeBetweenEvictionRunsMillis : 60000
          minEvictableIdleTimeMillis : 300000
          validationQuery : select 'x'
          testWhileIdle : true
          testOnBorrow : false
          testOnReturn : false
          poolPreparedStatements : true
          maxOpenPreparedStatements : 20

server:
  port: 8081
  tomcat:
    uri-encoding: UTF-8

##Mybatis 配置
mybatis:
      mapper-locations: classpath:mapper/*.xml
